.promotion {
  background: #f5f5f5;

  .titles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 0;
    h2  {
      @extend .col-6;
      padding: 0;
      font-size: 1.5em;
      font-weight: bold;
      text-align: left;
    }

    .ver_todos {
      @extend .col-6;
      padding: 10px 0;
      text-align: right;
      a {
        @include anima-slow;
        font-size: 0.775em;
        font-weight: bold;
        color: $blue;
        text-decoration: none;

        svg {
          width: 20px;
          height: 20px;
          position: relative;
          top: -2px;
          margin-left: 2px;
          path {
            @include anima-slow;
            fill: $blue;
          }
        }
        &:hover {
          @include anima-slow;
          color: $darkBlue;
          svg {
            path {
              @include anima-slow;
              fill: $darkBlue;
            }
          }
        }
      }
    }
  }
}


@media (min-width: map-get($grid-breakpoints,md)) {
  .promotion {
    .titles {
      h2 {
        font-size: 2em;
      }

      .ver_todos {
        a {
          font-size: 1em;
        }
      }
    }
  }
}
